/* Utslippssidene (/emissions/*): diagramcontainere */

.emission-chart-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;

  @media (width <= 600px) {
    padding: 0.5rem;
  }
}

.emission-chart {
  height: 400px;
  position: relative;
  padding: 1rem;
}

/* Utslippsdiagrammet for ett felt (kartdetaljene) */
.field-emission-chart {
  height: 290px;
}

@media (width <= 600px) {
  .emission-chart {
    height: 300px;
    padding: 0.5rem;
  }
}
